@model ShowroomManagement.Models.customer
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="~/Content/css/global.css" />
    <link rel="stylesheet" href="~/Content/css/CustomerLogin.css" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Zen Kaku Gothic Antique:wght@300;400;500;700;900&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&display=swap" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
    <form method="post" asp-action="Login" asp-controller="Customers" class="login-form">
        @Html.AntiForgeryToken()
        <div class="heading">
            <div class="become-an-exclusive">Welcome to Showroom</div>
        </div>
        <div class="form">
            <div class="form-group">
                <div class="form-control rectangle"></div>
                @Html.TextBoxFor(u => u.user_name, new { @class = "inputfield", placeholder = "example@email.com" })
                @Html.ValidationMessageFor(m => m.user_name, "", new { @class = "text-danger" })
                <img class="icon-field" alt="" src="~/Content/images/iconmail@2x.png" />
            </div>
            <div class="form-group">
                <div class="rectangle"></div>
                @Html.TextBoxFor(u => u.password, new { @class = "div6", placeholder = "*********" })
                @Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })
                <input type="button" class="show" id="showHidePassword" value="Show" />
                <img class="icon-field" alt="" src="~/Content/images/lock@2x.png" />
            </div>
            <div class="btn-prytemplate-2">
                <button class="btn-prytemplate-2-child">
                    Login
                    <img class="ex-iconarrow-right-copy"
                         alt=""
                         src="~/Content/images/exiconarrowright-copy@2x.png" />
                </button>
            </div>
        </div>
        <div class="register-link">
            <span>Don’t have an account?</span>
            <b>
                @Html.ActionLink("SIGN UP HERE", "Register")
            </b>
        </div>
        <img class="image"
             alt=""
             src="~/Content/images/z4974849751087-aca979b314547c417c5a5057a962db9f-1@2x.png" />
    </form>
</body>
</html>
<script>
    $("#showHidePassword").click(function () {
        if ($(this).val() == "Show") {
            $(this).val("Hide");
            $("#password").attr("type", "text");
        } else {
            $(this).val("Show");
            $("#password").attr("type", "password");
        }
    });
</script>