@model ShowroomManagement.Models.RegisterModel
@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="~/Content/css/global.css" />
    <link rel="stylesheet" href="~/Content/css/customer/login.css" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Zen Kaku Gothic Antique:wght@300;400;500;700;900&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&display=swap" />
    <link rel="stylesheet" href="~/Content/css/customer/register.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
    <div class="register">
        <form method="post" asp-action="Register" asp-controller="Customers" class="login-form">
            @Html.AntiForgeryToken()
            <div class="heading">
                <div class="become-an-exclusive">Register Account</div>
            </div>
            <div class="form">
                <div class="form-group">
                    <div class="rectangle">
                        @Html.LabelFor(model => model.username, "Username:", htmlAttributes: new { @class = "icon-field" })
                    </div>
                    @Html.TextBoxFor(u => u.username, new { @class = "inputfield", placeholder = "example@email.com" })
                    @Html.ValidationMessageFor(m => m.username, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <div class="rectangle">
                        @Html.LabelFor(model => model.password, "Password:", htmlAttributes: new { @class = "icon-field" })
                    </div>
                    @Html.TextBoxFor(u => u.password, new { @class = "div6", placeholder = "*********", @id = "password" })
                    @Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })
                    <i class="fa fa-eye show" aria-hidden="true" id="showHidePassword"></i>
                </div>

                <div class="form-group">
                    <div class="rectangle">
                        @Html.LabelFor(model => model.confirmPassword, "Confirm:", htmlAttributes: new { @class = "icon-field" })
                    </div>
                    @Html.TextBoxFor(u => u.confirmPassword, new { @class = "div6", placeholder = "*********", @type = "password", @id = "confirmPassword" })
                    @Html.ValidationMessageFor(m => m.confirmPassword, "", new { @class = "text-danger" })
                    <i class="fa fa-eye show" aria-hidden="true" id="showHideConfirmPassword"></i>
                </div>


                <div class="btn-prytemplate-2">
                    <button class="btn-prytemplate-2-child">
                        Register
                        <img class="ex-iconarrow-right-copy"
                             alt=""
                             src="~/Content/images/exiconarrowright-copy@2x.png" />
                    </button>
                </div>
            </div>
            <div class="register-link">
                <span>Already have an account?</span>
                <b>
                    @Html.ActionLink("SIGN IN HERE", "Login")
                </b>
            </div>
            <img class="image"
                 alt=""
                 src="~/Assests/extra-images/register.png" />
        </form>
    </div>
</body>
</html>
<script>
    $("#showHidePassword").click(function () {
        togglePasswordVisibility("password", $(this));
    });

    $("#showHideConfirmPassword").click(function () {
        togglePasswordVisibility("confirmPassword", $(this));
    });

    function togglePasswordVisibility(fieldId, icon) {
        var passwordField = $("#" + fieldId);

        if (passwordField.attr("type") === "password") {
            passwordField.attr("type", "text");
            icon.removeClass("fa-eye").addClass("fa-eye-slash");
        } else {
            passwordField.attr("type", "password");
            icon.removeClass("fa-eye-slash").addClass("fa-eye");
        }
    }
</script>