@model ShowroomManagement.Models.vehicle_data

{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>vehicle_data</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.color)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.color)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.listId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.listId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.vehicle.name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.vehicle.name)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.vehicle_data_id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
