
@{
    ViewBag.Title = "VehicleDetails";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

@model ShowroomManagement.Models.vehicle_data

@{
    ViewBag.Title = "VehicleDetails";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
@Styles.Render("~/Content/css/vehicledata/detail.css")
@*@Scripts.Render("https://unpkg.com/swiper/swiper-bundle.min.js")*@
@*@Scripts.Render("~/Content/js/home/index.js")*@
<div id="main" class="main clearfix">
    <div id="block-banner" class="block-banner block">
        <div class="block-banner-img">
            <img class="d-none d-sm-block" src="https://vinfastauto.us/themes/custom/vinfast_v2/images/v3/vf-8/VF8.webp" alt="VF 8" data-cookiecategory="646">
        </div>
        <div class="block-banner-desc">
            <div class="container">
                <div class="banner-desc-left">
                    <span class="banner-desc-slogan slogan">Vehicle information, specifications.</span>
                    <h2>@Html.DisplayFor(model => model.vehicle.name)</h2>
                    <h3>
                        SPORTY LUXURY SEDAN
                    </h3>
                </div>
                <div class="banner-desc-right">
                    <div class="banner-desc-right_content">
                        <div class="content-item content-center">
                            <h5>@Html.DisplayFor(model => model.vehicle.branch)</h5>
                            <p>
                               Color: @Html.DisplayFor(model => model.color) <a class="disclaimer-number" href="#block-specs"><sup>*</sup></a>
                            </p>
                        </div>
                        <div class="content-item">
                            <h5>
                                <small>From</small> $ @Html.DisplayFor(model => model.vehicle.price)
                            </h5>
                            <p>
                                For 24 months <a class="btn-offer link-effect link-effect-hover" href="#block-offer">View Offers</a>
                            </p>
                        </div>
                    </div>
                    <div class="banner-desc-right_buttons d-flex flex-column align-items-center justify-content-between">
                        <button type="button" class="btn btn--animated btn--primary--blue btn--border--blue" data-toggle="modal" data-target="#fresh-order-vf8-modal">Order Now</button>
                        <a id="btn-get-offer-2" href="https://vinfastus.my.site.com/TestDriveRequest" class="btn btn--animated btn--primary--white btn--border--blue">Schedule A Test Drive</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="block-exterior" class="block-exterior block-design block">
        <div class="container">
            <div class="block-header">
                <div class="row">
                    <div class="col-12 text-md-center">
                        <h2 class="block-title">
                            Sophistication &amp; comfort
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-8 col-lg-6 text-md-center m-md-auto">
                        <p class="block-desc">
                            State-of-the-art technology and unrivaled interior space combined with stunning Pininfarina design.
                        </p>
                    </div>
                </div>
            </div>
            <div class="block-slider">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="colorExterior1" role="tabpanel" aria-labelledby="colorExterior1-tab">
                        <div class="colorSwiper1 swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <picture>
                                        <source srcset="https://vinfastauto.us/themes/custom/vinfast_v2/images/v3/vf-8/exterior-color-gray.webp" type="image/webp">
                                        <source srcset="/themes/custom/vinfast_v2/images/v3/vf-8/exterior-color-red.webp">
                                        <img src="/themes/custom/vinfast_v2/images/v3/vf-8/exterior-color-red.webp" alt="exterior-color" data-cookiecategory="646">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
@*                    <div class="tab-pane fade" id="colorExterior2" role="tabpanel" aria-labelledby="colorExterior2-tab">
                        <div class="colorSwiper2 swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <picture>
                                        <source srcset="/themes/custom/vinfast_v2/images/v3/vf-8/exterior-color-gray.webp" type="image/webp">
                                        <source srcset="/themes/custom/vinfast_v2/images/v3/vf-8/exterior-color-gray.webp">
                                        <img src="/themes/custom/vinfast_v2/images/v3/vf-8/exterior-color-gray.webp" alt="exterior-color" data-cookiecategory="646">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="colorExterior3" role="tabpanel" aria-labelledby="colorExterior3-tab">
                        <div class="colorSwiper3 swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <picture>
                                        <source srcset="/themes/custom/vinfast_v2/images/v3/vf-8/exterior-color-blue.webp" type="image/webp">
                                        <source srcset="/themes/custom/vinfast_v2/images/v3/vf-8/exterior-color-blue.webp">
                                        <img src="/themes/custom/vinfast_v2/images/v3/vf-8/exterior-color-blue.webp" alt="exterior-color" data-cookiecategory="646">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="colorExterior4" role="tabpanel" aria-labelledby="colorExterior4-tab">
                        <div class="colorSwiper4 swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <picture>
                                        <source srcset="/themes/custom/vinfast_v2/images/v3/vf-8/exterior-color-yellow.webp" type="image/webp">
                                        <source srcset="/themes/custom/vinfast_v2/images/v3/vf-8/exterior-color-yellow.webp">
                                        <img src="/themes/custom/vinfast_v2/images/v3/vf-8/exterior-color-yellow.webp" alt="VinFast Car Color" data-cookiecategory="646">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="colorExterior5" role="tabpanel" aria-labelledby="colorExterior5-tab">
                        <div class="colorSwiper5 swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <picture>
                                        <source srcset="/themes/custom/vinfast_v2/images/v3/vf-8/exterior-color-green.webp" type="image/webp">
                                        <source srcset="/themes/custom/vinfast_v2/images/v3/vf-8/exterior-color-green.webp">
                                        <img src="/themes/custom/vinfast_v2/images/v3/vf-8/exterior-color-green.webp" alt="VinFast Car Color" data-cookiecategory="646">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="colorExterior6" role="tabpanel" aria-labelledby="colorExterior6-tab">
                        <div class="colorSwiper6 swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <picture>
                                        <source srcset="/themes/custom/vinfast_v2/images/v3/vf-8/exterior-color-white.webp" type="image/webp">
                                        <source srcset="/themes/custom/vinfast_v2/images/v3/vf-8/exterior-color-white.webp">
                                        <img src="/themes/custom/vinfast_v2/images/v3/vf-8/exterior-color-white.webp" alt="VinFast Car Color" data-cookiecategory="646">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="colorExterior7" role="tabpanel" aria-labelledby="colorExterior7-tab">
                        <div class="colorSwiper7 swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <picture>
                                        <source srcset="/themes/custom/vinfast_v2/images/v3/vf-8/exterior-color-black.webp" type="image/webp">
                                        <source srcset="/themes/custom/vinfast_v2/images/v3/vf-8/exterior-color-black.webp">
                                        <img src="/themes/custom/vinfast_v2/images/v3/vf-8/exterior-color-black.webp" alt="VinFast Car Color" data-cookiecategory="646">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="colorExterior8" role="tabpanel" aria-labelledby="colorExterior8-tab">
                        <div class="colorSwiper8 swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <picture>
                                        <source srcset="/themes/custom/vinfast_v2/images/v3/vf-8/exterior-color-silver.webp" type="image/webp">
                                        <source srcset="/themes/custom/vinfast_v2/images/v3/vf-8/exterior-color-silver.webp">
                                        <img src="/themes/custom/vinfast_v2/images/v3/vf-8/exterior-color-silver.webp" alt="VinFast Car Color" data-cookiecategory="646">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>*@
                </div>
                <div class="tab-color">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item colorExterior1">
                            <a class="nav-link active" id="colorExterior1-tab" data-color="Crimson Red" data-toggle="tab" href="#colorExterior1" role="tab" aria-controls="colorExterior1" aria-selected="true"></a>
                        </li>
                        <li class="nav-item colorExterior2">
                            <a class="nav-link" id="colorExterior2-tab" data-color="Neptune Grey" data-toggle="tab" href="#colorExterior2" role="tab" aria-controls="colorExterior2" aria-selected="false"></a>
                        </li>          
                        <li class="nav-item colorExterior3">
                            <a class="nav-link" id="colorExterior3-tab" data-color="Brahminy White" data-toggle="tab" href="#colorExterior6" role="tab" aria-controls="colorExterior6" aria-selected="false"></a>
                        </li>
                        <li class="nav-item colorExterior4">
                            <a class="nav-link" id="colorExterior4-tab" data-color="Jet Black" data-toggle="tab" href="#colorExterior7" role="tab" aria-controls="colorExterior7" aria-selected="false"></a>
                        </li>
                        <li class="nav-item colorExterior5">
                            <a class="nav-link" id="colorExterior5-tab" data-color="Desat Silver" data-toggle="tab" href="#colorExterior8" role="tab" aria-controls="colorExterior8" aria-selected="false"></a>
                        </li>
                    </ul>
                    <div class="tab-color__name" data-color="Crimson Red"></div>
                </div>
            </div>
        </div>
        <div class="detail-container container d-none d-md-block">
            <div class="block-detail slider">
                <div class="slides row">
                    @foreach (var imageUrl in Model.vehicle_image.ToList())
                    {
                        <div class="block-detail-item col-md-5 col-lg-3">
                            <picture>
                                <source srcset="@imageUrl" type="image/webp">
                                <source srcset="/themes/custom/vinfast_v2/images/v3/vf-8/exterior-dynamic.webp">
                                <img src="@imageUrl" alt="Vehicle Images" data-cookiecategory="646">
                            </picture>
                        </div>                     
                        }
                    </div>
            </div>
        </div>
    </div>
    <div id="block-specs" class="block-specs block">
        <div class="container">
            <div class="field-content">
                <div class="field-title">
                    <h2 class="block-title">Vehicle Specification</h2>
                </div>
                <div class="tab-content">
                    <div class="group-title">
                        <div class="group-title-desktop">
                            <div class="logo">
                                <h2 style="margin-top:0px;">@Html.DisplayFor(model => model.vehicle.name)</h2>
                            </div>
                            <div class="title-type">Eco</div>
                            <div class="title-type">Plus</div>
                        </div>
                    </div>
                    <ul class="main-content">
                        <li class="active">
                            <div class="spec-detail show">
                                <div class="spec-detail-content d-none d-md-flex">
                                    <ul class="title">
                                        <li>Overall dimension (LxWxH)</li>
                                        <li>Wheelbase</li>
                                        <li>Battery Capacity</li>
                                        <li>Range per full charge (EPA)</li>
                                        <li>Charging speed</li>
                                        <li>Engine/e-Motor</li>
                                        <li>Max. power</li>
                                        <li>Vehicle warranty</li>
                                    </ul>
                                    <ul class="detail">
                                        <li>187 x 76.1 x 65.6 (in)</li>
                                        <li>116.1 (in)</li>
                                        <li>87.7 (kWh)</li>
                                        <li>264 mi</li>
                                        <li>10% - 70% in 31 min</li>
                                        <li>Motor x 2</li>
                                        <li>349 (hp)</li>
                                        <li>10 year / 125,000 miles</li>
                                    </ul>
                                    <ul class="detail">
                                        <li>187 x 76.1 x 65.6 (in)</li>
                                        <li>116.1 (in)</li>
                                        <li>87.7 (kWh)</li>
                                        <li>243 mi</li>
                                        <li>10% - 70% in 31 min</li>
                                        <li>Motor x 2</li>
                                        <li>402 (hp)</li>
                                        <li>10 year / 125,000 miles</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="field-button">
                    <button type="button" class="btn btn--animated btn--primary--blue btn--border--blue" data-toggle="modal" data-target="#fresh-order-vf8-modal">Order Now</button>
                </div>
            </div>
        </div>
    </div>
</div>

