@model ShowroomManagement.Models.vehicle_purchase

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>vehicle_purchase</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.purchase_order.purchase_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.purchase_order.purchase_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vehicle_data.model_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vehicle_data.model_number)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
